h1 {
    text-align: left;
    color: #1f2937;
    font-size: 32px;
    margin: 30px 0;
}

#lista-toalhas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.toalha {
    width: 250px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
